# mohamadmjm87.github.io
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>tag</title>
<style>
    p{
        color: blueviolet;
        background: chartreuse;
    }
    h1{
        background: darkolivegreen;
    }
    h2{
        background: red;
    }
</style>
</head>
<body style="border-top: gold;">
    <h1 style="color: olivedrab;">
        تصویر زیر کد است
    
    </h1>
<img src="E:\hom\Capture.PNG" >
<h1 style="color: violet;">
htmlاولین کد:پایه تمام کدها
</h1>
<p>
    چند کد وجود داردhtmlدرکد
</p>
<h2 style="color: darkgray;">
    بااین نوع بیشتر آشنا شویدw3schoolsدر
</h2>
<link rel="w3schools" href="https://www.w3schools.com/">
</body>
</html>
